In [2]:
import openai

In [3]:
mykey = "sk-proj-QxMNKPIJYdCfsKs9LkG1T3BlbkFJrVvEHqNWxv2lEGgNHjLX"

In [4]:
openai.api_key = mykey

In [5]:
all_models = list(openai.models.list())

In [6]:
import pandas as pd
pd.DataFrame(all_models, columns= ["id", "created", "object", "owned_by"])

,id,created,object,owned_by
0,"(id, dall-e-3)","(created, 1698785189)","(object, model)","(owned_by, system)"
1,"(id, gpt-4-1106-preview)","(created, 1698957206)","(object, model)","(owned_by, system)"
2,"(id, whisper-1)","(created, 1677532384)","(object, model)","(owned_by, openai-internal)"
3,"(id, gpt-4o-2024-05-13)","(created, 1715368132)","(object, model)","(owned_by, system)"
4,"(id, babbage-002)","(created, 1692634615)","(object, model)","(owned_by, system)"
5,"(id, dall-e-2)","(created, 1698798177)","(object, model)","(owned_by, system)"
6,"(id, gpt-3.5-turbo-16k)","(created, 1683758102)","(object, model)","(owned_by, openai-internal)"
7,"(id, tts-1-hd-1106)","(created, 1699053533)","(object, model)","(owned_by, system)"
8,"(id, tts-1-hd)","(created, 1699046015)","(object, model)","(owned_by, system)"
9,"(id, gpt-4o)","(created, 1715367049)","(object, model)","(owned_by, system)"
10,"(id, gpt-3.5-turbo-instruct-0914)","(created, 1694122472)","(object, model)","(owned_by, system)"
11,"(id, gpt-3.5-turbo-instruct)","(created, 1692901427)","(object, model)","(owned_by, system)"
12,"(id, text-embedding-3-small)","(created, 1705948997)","(object, model)","(owned_by, system)"
13,"(id, gpt-4-turbo-2024-04-09)","(created, 1712601677)","(object, model)","(owned_by, system)"
14,"(id, tts-1)","(created, 1681940951)","(object, model)","(owned_by, openai-internal)"
15,"(id, gpt-4-turbo)","(created, 1712361441)","(object, model)","(owned_by, system)"
16,"(id, text-embedding-3-large)","(created, 1705953180)","(object, model)","(owned_by, system)"
17,"(id, gpt-3.5-turbo-1106)","(created, 1698959748)","(object, model)","(owned_by, system)"
18,"(id, gpt-4-0125-preview)","(created, 1706037612)","(object, model)","(owned_by, system)"
19,"(id, gpt-3.5-turbo-0125)","(created, 1706048358)","(object, model)","(owned_by, system)"
20,"(id, gpt-3.5-turbo)","(created, 1677610602)","(object, model)","(owned_by, openai)"
21,"(id, gpt-3.5-turbo-0301)","(created, 1677649963)","(object, model)","(owned_by, openai)"
22,"(id, gpt-4-turbo-preview)","(created, 1706037777)","(object, model)","(owned_by, system)"
23,"(id, tts-1-1106)","(created, 1699053241)","(object, model)","(owned_by, system)"
24,"(id, gpt-3.5-turbo-16k-0613)","(created, 1685474247)","(object, model)","(owned_by, openai)"
25,"(id, gpt-3.5-turbo-0613)","(created, 1686587434)","(object, model)","(owned_by, openai)"
26,"(id, gpt-4)","(created, 1687882411)","(object, model)","(owned_by, openai)"
27,"(id, text-embedding-ada-002)","(created, 1671217299)","(object, model)","(owned_by, openai-internal)"
28,"(id, gpt-4-1106-vision-preview)","(created, 1711473033)","(object, model)","(owned_by, system)"
29,"(id, davinci-002)","(created, 1692634301)","(object, model)","(owned_by, system)"
30,"(id, gpt-4-0613)","(created, 1686588896)","(object, model)","(owned_by, openai)"
31,"(id, gpt-4-vision-preview)","(created, 1698894917)","(object, model)","(owned_by, system)"

In [7]:
import os
from openai import OpenAI

client = OpenAI(
    # This is the default and can be omitted
    api_key=mykey,
)

In [8]:
response = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
    {
      "role": "system",
      "content": [
        {
          "type": "text",
          "text": "I want a funny response"
        }
      ]
    },
    {
      "role": "user",
      "content": [
        {
          "type": "text",
          "text": "Who is Rahul Ghandi?"
        }
      ]
    },
    {
      "role": "assistant",
      "content": [
        {
          "type": "text",
          "text": "I'm sorry, but I couldn't find information on a person named Shivahari Revathi Venkateswaran. It's possible that they are a private individual or not widely known. If you have more context or details, I may be able to help you further."
        }
      ]
    }
  ],
  temperature=1,
  max_tokens=100,
  top_p=1,
  frequency_penalty=0,
  presence_penalty=0
)

In [9]:
response.choices[0].message.content

'Rahul Gandhi is known for being a prominent Indian politician and the former President of the Indian National Congress party. Some people find his political career quite amusing, like a never-ending rollercoaster of surprises and controversies. But hey, at least he keeps things interesting, right?'

## Prompt Engineering

In [10]:
description = "Hi... I am Shivahari. I want to travel to New York with my family of 4 people. I want to stay there for 4 days and three nights"

In [11]:
prompt = f'''
    Please extract the following information from the given text and return it as a JSON object":

    name 
    place
    number of people
    days
    nights
    events

    This is the body of text to extract the information from:
    {description}
'''

In [12]:
response = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
  
    {
      "role": "user",
      "content":prompt
    },
    
  ],
  temperature=1,
  max_tokens=100,
  top_p=1,
  frequency_penalty=0,
  presence_penalty=0
)

In [13]:
output = response.choices[0].message.content

In [14]:
import json 
json.loads(output)

{'name': 'Shivahari',
 'place': 'New York',
 'number of people': 4,
 'days': 4,
 'nights': 3,
 'events': []}

In [57]:
tourism_function = [
        {
            "type": "function",
            "function": {
                "name": "get_traveller_information",
                "description": "Get the ninformation from the customer regarding the travel plan",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "Name":{
                            "type": "string",
                            "description": "Name of the customer",
                        }, 
                        "Location":{
                            "type": "string",
                            "description": "Location of the trip",
                        },
                        "Total number of people":{
                            "type": "integer",
                            "description": "Total number of people for the trip",
                        },
                        "Number of Nights":{
                            "type": "string",
                            "description": "Number of nights of the trip",
                        },
                        "Number of Days":{
                            "type": "string",
                            "description": "Number of days of the trip",
                        },
                        "location": {
                            "type": "string",
                            "description": "The city and state, e.g. San Francisco, CA",
                        },
                        
                    },
                    "required": ["location"],
                },
            },
        }
    ]

In [63]:
response = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
  
    {
      "role": "user",
      "content":prompt
    },
    
    
  ],
  tools=tourism_function,
  tool_choice="auto"
  # temperature=1,
  # max_tokens=100,
  # top_p=1,
  # frequency_penalty=0,
  # presence_penalty=0
)

In [64]:
output2 = response.choices[0].message.tool_calls[0].function

In [65]:
output2

Function(arguments='{"location":"New York","Total number of people":4,"Number of Days":"4","Number of Nights":"3","location":"New York"}', name='get_traveller_information')

In [66]:
json.loads(output2.arguments)

{'location': 'New York',
 'Total number of people': 4,
 'Number of Days': '4',
 'Number of Nights': '3'}

In [74]:
type(output2.arguments)

str

In [75]:
eval(output2.arguments)

{'location': 'New York',
 'Total number of people': 4,
 'Number of Days': '4',
 'Number of Nights': '3'}

In [77]:
type(eval(output2.arguments))
# Eval will give the actual data type . i.e what is inside the string

dict

## Function Calling

Learn how to connect LLM to external tools

## Langchain

langchain is like a wrapper for the openai

In [85]:
import langchain
import langchain_openai
from langchain_openai import OpenAI

In [93]:
prompt = "can you tell me how many states are in India and tell the top 10 states in India"

In [94]:
client = OpenAI(openai_api_key = mykey)

In [95]:
client.predict(prompt)

'\n\nThere are 28 states and 8 union territories in India. The top 10 states in India, based on population, are:\n\n1. Uttar Pradesh\n2. Maharashtra\n3. Bihar\n4. West Bengal\n5. Madhya Pradesh\n6. Tamil Nadu\n7. Rajasthan\n8. Karnataka\n9. Gujarat\n10. Andhra Pradesh'